

.navbar{
  height: 80px;
  .wrapper{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    .item{
      display: flex;
      align-items: center;
      font-size:18px;
      .image{
        height: 20px;
        border: 1px solid black;
      }
    }
    .left{
      display: flex;
      align-items:center;
      gap:25px;

    }
    .center{
      font-size:30px;
      letter-spacing: 2px;

    }
    .right{
      display: flex;
      align-items: center;
      gap:25px;

      .icons{
        display: flex;
        gap:15px;
        color:grey;
        cursor:pointer;
        .cartIcon{
          position:relative;
          span{
            font-size:12px;
            width:20px;
            height: 20px;
            border-radius:50%;
            background-color:teal;
            color:white;
            position:absolute;
            right:-10px;
            top:-10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }

  }
}
@media screen and (max-width: 1152px) {
  .navbar{
    height: 40px;
    .wrapper{
      justify-content: flex-start;
      padding:10px 10px;
      .item{
        .image{
        }
      }
      .left{
        gap:10px;
        .item{
          .link{
            font-size: 10px;
          }
        }
        .item:nth-child(1),.item:nth-child(2){
          display: none;
        }
      }
      .center{
        font-size: 10px;
        letter-spacing: normal;
        margin: 0 10px;
        font-weight: 700;
      }
      .right{
        gap:10px;
        .item{
          .link{
            font-size: 10px;
          }
        }
        .icons{
          gap:5px;
          .icon{
            height: 12px;
          }
          .cartIcon{
            bottom:5px;
            span{
              font-size: 7px;
              width:10px;
              height: 10px;
              right: -1px;
              top:-1px;
            }
          }
        }
      }
    }
  }
}